<%layout("/layout/boilerplate")%>
<div class="row mt-4">
    <div class="alert alert-danger" role="alert">
        <h4><%=message%></h4>
       <h4>Status Code : <%= statusCode %></h4>
    </div>
</div>